<style>
    .table td,
    .table th {
        vertical-align: middle;
    }
</style>

{{#if products.length}}
<h2>Lista de Productos</h2>
<div class="table-responsive">
    <table class="table table-dark">
        <tr>
            <th>Nombre</th>
            <th>Stock</th>
            <th>Imagen</th>
        </tr>
        {{#each products}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.stock}}</td>
            <td>
                <img src={{this.url}} height="80">
            </td>
        </tr>
        {{/each}}
    </table>
</div>
{{ else }}
<h3 class="alert alert-warning">No hay productos</h3>
{{/if}}